.wraper {
    display: flex;
}

.content {
    width: 70%;
    height: 100vh;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu > a {
    padding: 10px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: .2s;
}

.menu > a:hover {
    background-color: rgba(94, 249, 91, 0.1);
    color: #06a504;
    transition: .2s;
}
#popup-window {
  position: fixed;
  width: 300px;
  height: 200px;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}        
.sidebar {
    width: 25%;
    padding: 30px;
    max-height: 100vh;
    overflow: auto;
}

.inner-content {
    width: 100%;
    padding: 30px;
}

.inner-content > center > iframe {
    border-radius: 10px;
}

#question {
    background-color: rgba(249, 91, 96, 0.1);
    color: #a50404;
    text-align:right;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#answer {
    background-color: rgba(5, 166, 222, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.help {
    background-color: rgba(5, 166, 222, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    

}

#thinking {
    background-color: rgba(249, 232, 50, 0.1);
    color: rgb(66, 232, 75);
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
#popup-window {
    position: fixed;
    width: 300px;
    height: 200px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(135, 135, 135);
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 350px;
    left: 1000px;
    z-index: 10;
    display: none;
  }        